@charset "utf-8";
*{margin: 0;padding: 0}

.body{
    margin:0 auto;      /*div本身模块居中*/
    width :100%;
    height: 100%;
    display: flex;
    justify-content:space-between;
}
.body .navleft{
    margin: 0;
    width:250px;
    height: 600px;
    background: #A0A692;
}
.body .navleft .side-nav{
    margin: 15px;
    width:250px;
    height:500px;
   /* border: 0.1px solid #FF00FF;*/
}
.side-nav .person_info{
    margin: 10px auto auto 50px;
    width: 100%;
    height: 100px;
   /* border: 0.1px solid #FF00FF;*/
}
.side-nav .person_info .person_img{
    margin: 3px;
    width: 80px;
    height:80px;
    border-radius:40px;
    overflow: hidden;
    background: url(/images/renwu.png);
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    /*border: 0.1px solid #829065;*/
}
.side-nav .person_info .person_img img{
    width: 100%;
    height: 100%
}

.side-nav .person_info .person_name{
    margin: 3px;
    width: 100%;
    height:30px;
   /* border: 0.1px solid #FF00FF;*/
}

.body .navleft .side-nav ul li{
    list-style-type:none;
    line-height:45px;
}
.body .navleft .side-nav ul li a{
    text-decoration: none;
    color: #000000;
}
.body .rightblock{
    margin: 0;
    width:87%;
    height: 600px;
    background: #CDDCEF;
}
.body .rightblock .active_title{
    display: flex;
}
.body .rightblock .active_title .active{
    margin: 15px 0px;
    padding: 8px 60px;
    width: 65px;
    height: 20px;
    background: #8CA6C6;
    border: 0.1px solid #8895B5;
}
.body .rightblock .active_block{
    margin: 20px 40px;
}
.active_block .active_stick{
    margin: 20px 40px;
}
.active_block .active_stick span{
    margin: 0 15px;
}
.active_block .img_b{
    margin: auto auto auto 150px;
}
.active_block .img_b .bu {
    margin: 15px 70px;
    width:70px;
    height: 25px;
    border: 1px solid #4E5465;
    background: url(/images/addintroimg.png);
}
.active_block .img_b .bu .change{
    opacity: 0;
}
.active_block .img_b .per_img {
    margin: 15px;
    width: 200px;
    height: 200px;
    border: 1px solid #4E5465;
}
.active_block .img_b .state{
    font-size: 12px;
}
.active_block .img_b .img_button{
    margin: 20px auto auto 100px;
}
.active_block .img_b .img_button button{
    width: 40px;
    height: 30px;
    background: #4476A7;
}
.active_block .pa_block{
    margin: 20px 40px;
}
.active_block .pa_block .pa_row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 14px;
    /*border: 1px solid #4E5465;*/
}
.active_block .pa_block .pa_row .pa_n{
    margin: 15px 20px;
}
.active_block .pa_block .pa_row .pa_in{
    margin: 10px 10px;
}
.active_block .pa_block .pa_row .pa_t{
    margin: 15px 5px;
    color: red;
    font-size: 12px;
    line-height:25px;
}
.active_block .pa_block .pa_row .pa_in input{
    height: 25px;
}
.active_block .pa_block .pa_row .pa_but{
    margin: 15px 150px;
}
.active_block .pa_block .pa_row .pa_but button{
    width: 50px;
    height: 30px;
    font-size: 14px;
    background-color: #9C9C9C;
    letter-spacing:2px;
    color: #000000;
    border-radius:5px 5px 5px 5px;
    border:none;
}


